<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>On The Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>660DD8EE1AE2C94300BE5728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>660DD9031AE2C94400BE5728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6655929A1AF1C932000538E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66AD963F1AF5518000CB3F2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
